// $clr-dark: #2a2a2a;
// $clr-light: #dfe6ea;

// $clr-primary: #1f5662;
// $clr-secondary: #192c2a;
// $clr-accent: #8739F9;

$main-primary: #8739F9;
$main-secondary: #C651CD;
$main-tertiary: #363636;

$dark-primary: #100F10;
$dark-secondary: #1B1B1B;
$dark-tertiary: #242424;

$font-title: rgba(#fff, 0.96);
$font-descr: rgba(#fff, 0.67); 
$font-descr-bg: rgba(#fff, 0.45);
$font-disabled: #6b6b6b;

$foreground: $font-title;
$background: $dark-primary;

$nav-bg:  #242526;
$nav-bg-accent: #484a4d;
$nav-text-color: #dadce1;
$nav-size: 60px;
$nav-border: 1px solid #474a4d;
$nav-border-radius: 8px;
$nav-speed: 500ms; 

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// .darkmode {
//   $clr-dark: #2a2a2a;
//   $clr-light: #dfe6ea;

//   $clr-primary: #1f5662;
//   $clr-secondary: #192c2a;
//   $clr-accent: #8739F9;

//   $font-title: #d8d8d8;
//   $font-descr: #b9b9b9; 
//   $font-descr-bg: #8b8b8b;
//   $font-disabled: #6b6b6b;

//   $foreground: $clr-light;
//   $background: $clr-dark;
// }

body {
  margin: 0;
  background: $background;
  display: flex;
  flex-direction: column;
  color: $foreground;
  padding-bottom: 3rem;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: $font-title;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $font-descr;
  text-decoration: none;;
}

p {
  color: $font-descr;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0), 
    rgba(255, 255, 255, 0.75), 
    rgba(255, 255, 255, 0)
  );
}

textarea {
  padding: 10px;
  margin-bottom: .8rem;
  background: $dark-secondary;
  color: $font-title;
  width: 100%;
  &::placeholder {
    color: $font-descr-bg;
  }
}

button {
  background: $dark-tertiary;
  color: $main-secondary;
  padding: .3rem;
  border-radius: 20px;
  font-size: .8rem;
  font-weight: bold;
  width: 7rem;
}

.delete-button {
  color: red;
}

.p-bg {
  color: $font-descr-bg;
}

.username-small {
  font-weight: bold;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal.open,
.overlay.open {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: $dark-tertiary;
  border-radius: 0.25rem;
  z-index: 10;
}

.navbar {
  color: $font-title;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $nav-size;
  background: $background;
  border-bottom: $foreground;
  padding: 1rem 1rem;
  a {
    text-decoration: none;
    color: $font-title;
  }
  button {
    background-color: $dark-secondary;
    color: firebrick;
    font-weight: bold;
    padding: 3px 8px;
  }
  .darkmode-button {
    display: flex;
    justify-content: center;
    label {
      width: 100px;
      height: 40px;
      display: flex;
      background-color: #ebebeb;
      border-radius: 200px;
      cursor: pointer;
      box-shadow: 
        inset 0px 5px 15px rgba(0,0,0,0.4), 
        inset 0px -5px 15px rgba(255,255,255,0.4);
      img {
        z-index: 100;
      }
      .sun {
        left: 40px;
        fill: #fff;
        transition: 0.3s;
      }
      .moon {
        left: 340px;
        fill: #7e7e7e;
        transition: 0.3s;
      }
    }
    label:after {
      content: "";
      width: 40px;
      height: 40px;
      top: 10px;
      left: 10px;
      background: linear-gradient(180deg, #ffcc89, #d8860b);
      border-radius: 180px;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    }
    label:active:after {
      width: 260px;
    }
    #darkmode-toggle {
      width: 0;
      height: 0;
      visibility: hidden;
    }
    #darkmode-toggle:checked + label {
      background: #242424;
    }
    #darkmode-toggle:checked + label:after {
      left: 490px;
      transform: translateX(-100%);
      background: linear-gradient(180deg, #777, #3a3a3a);
    }
    label, label:after {
      transition: 0.3s;
    }
  }
  .navbar-nav {
    z-index: 8000;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    svg {
      fill: $foreground;
      width: 20px;
    }
    .nav-item {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border: $font-title;
      .icon-button {
        // $button-size: calc($nav-size * 1);
        color: $font-title;
        width: auto;
        background-color: $main-primary;
        border-radius: 10px;
        padding: 8px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: filter 300ms;
        svg {
          fill: $font-title;
          width: 15px;
          padding-left: .2rem;
        }
      }
      
      .icon-button:hover {
        filter: brightness(1.2);
      }

      .dropdown {
        position: absolute;
        top: 2rem;
        transform: translateX(-45%);
        background-color: $dark-secondary;
        border: $nav-border;
        border-radius: $nav-border-radius;
        padding: .8rem;
        overflow: hidden;
        transition: height $nav-speed ease;
        .menu {
          width: 100%;
          .menu-item {
            height: 2rem;
            display: flex;
            align-items: center;
            border-radius: $nav-border-radius;
            transition: background $nav-speed;
            padding: 1rem;
            .icon-button {
              $button-size: calc($nav-size * 0.5);
              width: $button-size;
              height: $button-size;
              background-color: #484a4d;
              border-radius: 50%;
              padding: 5px;
              margin: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: filter 300ms;
            }
            .icon-button:hover {
              filter: none;
            }
            .icon-right {
              margin-left: auto;
            }
          }
          .menu-item:hover {
            background-color: #525357;
          }
        }
      }
    }
  }
}
.post-page{
  display: flex;
  justify-content: center;
  .post-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.new-post-form {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  p {
    font-size: .8rem;
    
  }
  input[type=text] {
    padding: 10px;
    margin: 10px 0;
    background: $dark-secondary;
    color: $font-title;
    width: 100%;
    &::placeholder {
      color: $font-descr-bg;
    }
  }
  // button {
  //   background: $dark-tertiary;
  //   color: $main-secondary;
  //   padding: .3rem;
  //   border-radius: 20px;
  //   font-size: .8rem;
  //   font-weight: bold;
  //   width: 7rem;
  // }
}
.issue-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.public {
  display: flex;
  flex-direction: column;
  align-items: center;

  .nothing-here {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      aspect-ratio: initial;
    }
  }
  #new-comment-form {
    border: 1px solid red;
    margin: 20px 20px;
    padding: 5px;
    p {
      margin: 5px;
    }
    input {
      width: 30rem;
    }
  }
}
.post-li {
  padding: 0 0 .5rem .5rem;
  p {
    font-size: .9rem;
  }
  .issue-link {
    text-decoration: none;
    color: $font-descr;
    h1 {
      font-size: 2em;
      margin-bottom: .3em;
    }
    .issue-title {
      font-size: 1.4rem;
      padding: .3rem 0;
    }
  }
  .votes {
    display: flex;
    flex-direction: row;
    margin: .5rem 0;
    img {
      width: 1.2rem;
    }
    h3 {
      margin: 0 1rem;
      color: $font-title;
    }
    .upvote {
      filter: 
        invert(65%) 
        sepia(9%) 
        saturate(6603%) 
        hue-rotate(1deg) 
        brightness(104%) 
        contrast(102%);
    }
    .downvote {
      filter: 
        invert(57%) 
        sepia(38%) 
        saturate(1421%) 
        hue-rotate(192deg) 
        brightness(97%) 
        contrast(91%);
    }
  }
  .comment {
    padding: 0 0 .5rem 0;
  }
}
.issue-comments-page {
  ul {
    margin-top: .5rem;
  }
  .issue-title-desc {
    margin: .5rem;
    line-height: 1.5rem;
    p {
      font-size: .85rem;
    }
    .issue-desc {
      font-size: 1rem;
    }
  }
}
.profile {
  display: flex;
  flex-direction: column;
  background: inherit;
  align-items: center;
  h1 {
    color: $font-title;
    font-size: 3em;
  }
  #profile-page-title {
    display: flex;
    margin: .5em;
    justify-content: center;
  }
  #add-issue-txt {
    display: flex;
    justify-content: center;
  }
  #your-issues-txt {
    display: flex;
    justify-content: center;
  }
  #profile-issue-list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    .profile-issue-li {
      margin: 1em .5em;
      a {
        text-decoration: none;
        h1 {
          font-size: 2em;
          margin-bottom: .3em;
        }
        p {
          color: $font-descr;
        }
      }
      img {
        width: 20px;
        height: auto;
        margin-right: 5px;
      }
      .upvote {
        filter: 
          invert(65%) 
          sepia(9%) 
          saturate(6603%) 
          hue-rotate(1deg) 
          brightness(104%) 
          contrast(102%);
      }
      .downvote {
        filter: 
          invert(57%) 
          sepia(38%) 
          saturate(1421%) 
          hue-rotate(192deg) 
          brightness(97%) 
          contrast(91%);
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    border: 1px solid;
    background-color: $dark-secondary;
    padding: 16px;
    border-radius: 5px;
    input, button {
      margin: 8px 0;
      padding: 8px;
      border-radius: 5px;
    }
  }
}
.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 2em;
    margin: 24px;
  }
  p {
    margin: .5rem;
    font-size: .9rem;
    text-align: center;
    text-decoration: underline;
  }
  form {
    border: 1px solid;
    padding: 20px;
    width: 18rem;
    border-radius: 5px;
    background-color: $dark-secondary;
    display: flex;
    flex-direction: column;
    input {
      margin: 16px 8px;
      padding: 8px;
      border-radius: 4px;
    }
    button {
      margin: 16px 8px;
      padding: 8px;
      border-radius: 4px;
    }
  }
}

.tooltip {
  position: relative;
  display: flex;
  // height: auto;
}
.tooltip
.tooltiptext {
  font-size: .8rem;
  visibility: hidden;
  color: #a6a6a6;
  width: auto;
  background-color: rgb(71, 71, 71);
  text-align: center;
  border-radius: 6px;
  margin: 20px;
  padding: .2rem .3rem;
  position: absolute;
  z-index: 60;
}
.tooltip:hover 
.tooltiptext {
  visibility: visible;
}

@media screen and (min-width: 770px) {
  .navbar {
    .navbar-nav {
      justify-content: space-around;
    }
  }
}