*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #dfe6ea;
  display: flex;
  flex-direction: column;
  color: #565360;
  padding-bottom: 3rem;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #565360;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #908E9B;
  text-decoration: none;
}

p {
  color: #908E9B;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

textarea {
  padding: 10px;
  margin-bottom: 0.8rem;
  background: #c9e3f0;
  color: #565360;
  width: 100%;
}
textarea::-moz-placeholder {
  color: #a9a6b5;
}
textarea::placeholder {
  color: #a9a6b5;
}

.p-bg {
  color: #a9a6b5;
}

.username-small {
  font-weight: bold;
}

.navbar {
  color: #565360;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: #95a7af;
  border-bottom: #171717;
  padding: 1rem 1rem;
}
.navbar a {
  text-decoration: none;
  color: #565360;
}
.navbar button {
  background-color: #c9e3f0;
  color: firebrick;
  padding: 3px 8px;
}
.navbar .darkmode-button {
  display: flex;
  justify-content: center;
}
.navbar .darkmode-button label {
  width: 100px;
  height: 40px;
  display: flex;
  background-color: #ebebeb;
  border-radius: 200px;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}
.navbar .darkmode-button label img {
  z-index: 100;
}
.navbar .darkmode-button label .sun {
  left: 40px;
  fill: #fff;
  transition: 0.3s;
}
.navbar .darkmode-button label .moon {
  left: 340px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.navbar .darkmode-button label:after {
  content: "";
  width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.navbar .darkmode-button label:active:after {
  width: 260px;
}
.navbar .darkmode-button #darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}
.navbar .darkmode-button #darkmode-toggle:checked + label {
  background: #242424;
}
.navbar .darkmode-button #darkmode-toggle:checked + label:after {
  left: 490px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.navbar .darkmode-button label, .navbar .darkmode-button label:after {
  transition: 0.3s;
}
.navbar .navbar-nav {
  z-index: 8000;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.navbar .navbar-nav svg {
  fill: #171717;
  width: 20px;
}
.navbar .navbar-nav .nav-item {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #565360;
}
.navbar .navbar-nav .nav-item .icon-button {
  width: 60px;
  background-color: #95a7af;
  border-radius: 10px;
  padding: 8px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.navbar .navbar-nav .nav-item .icon-button svg {
  fill: #565360;
  width: 15px;
}
.navbar .navbar-nav .nav-item .icon-button:hover {
  filter: brightness(1.2);
}
.navbar .navbar-nav .nav-item .dropdown {
  position: absolute;
  top: 2rem;
  transform: translateX(-45%);
  background-color: #95a7af;
  border: 1px solid #474a4d;
  border-radius: 8px;
  padding: 0.8rem;
  overflow: hidden;
  transition: height 500ms ease;
}
.navbar .navbar-nav .nav-item .dropdown .menu {
  width: 100%;
}
.navbar .navbar-nav .nav-item .dropdown .menu .menu-item {
  height: 2rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 500ms;
  padding: 1rem;
}
.navbar .navbar-nav .nav-item .dropdown .menu .menu-item .icon-button {
  width: 30px;
  height: 30px;
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.navbar .navbar-nav .nav-item .dropdown .menu .menu-item .icon-button:hover {
  filter: none;
}
.navbar .navbar-nav .nav-item .dropdown .menu .menu-item .icon-right {
  margin-left: auto;
}
.navbar .navbar-nav .nav-item .dropdown .menu .menu-item:hover {
  background-color: #525357;
}

.post-page {
  display: flex;
  justify-content: center;
}
.post-page .post-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-post-form {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.new-post-form p {
  font-size: 0.8rem;
}
.new-post-form input[type=text] {
  padding: 10px;
  margin: 10px 0;
  background: #c9e3f0;
  color: #908E9B;
  width: 100%;
}
.new-post-form button {
  background: #565360;
  color: #c9e3f0;
  padding: 0.3rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  width: 7rem;
}

.issue-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.public {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.public .nothing-here {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.public .nothing-here img {
  aspect-ratio: initial;
}
.public #new-comment-form {
  border: 1px solid red;
  margin: 20px 20px;
  padding: 5px;
}
.public #new-comment-form p {
  margin: 5px;
}
.public #new-comment-form input {
  width: 30rem;
}

.post-li {
  padding: 0 0 0.5rem 0.5rem;
}
.post-li p {
  font-size: 0.9rem;
}
.post-li .issue-link {
  text-decoration: none;
  color: #908E9B;
}
.post-li .issue-link h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
}
.post-li .issue-link .issue-title {
  font-size: 1.4rem;
  padding: 0.3rem 0;
}
.post-li .votes {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}
.post-li .votes img {
  width: 1.2rem;
}
.post-li .votes h3 {
  margin: 0 1rem;
  color: #565360;
}
.post-li .votes .upvote {
  filter: invert(65%) sepia(9%) saturate(6603%) hue-rotate(1deg) brightness(104%) contrast(102%);
}
.post-li .votes .downvote {
  filter: invert(57%) sepia(38%) saturate(1421%) hue-rotate(192deg) brightness(97%) contrast(91%);
}
.post-li .comment {
  padding: 0 0 0.5rem 0;
}

.issue-comments-page ul {
  margin-top: 1rem;
}
.issue-comments-page .issue-title-desc {
  margin: 0.5rem;
  line-height: 1.5rem;
}
.issue-comments-page .issue-title-desc p {
  font-size: 0.85rem;
}
.issue-comments-page .issue-title-desc .issue-desc {
  font-size: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  background: inherit;
  align-items: center;
}
.profile h1 {
  color: #565360;
  font-size: 3em;
}
.profile #profile-page-title {
  display: flex;
  margin: 0.5em;
  justify-content: center;
}
.profile #add-issue-txt {
  display: flex;
  justify-content: center;
}
.profile #your-issues-txt {
  display: flex;
  justify-content: center;
}
.profile #profile-issue-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}
.profile #profile-issue-list .profile-issue-li {
  margin: 1em 0.5em;
}
.profile #profile-issue-list .profile-issue-li a {
  text-decoration: none;
}
.profile #profile-issue-list .profile-issue-li a h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
}
.profile #profile-issue-list .profile-issue-li a p {
  color: #908E9B;
}
.profile #profile-issue-list .profile-issue-li img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}
.profile #profile-issue-list .profile-issue-li .upvote {
  filter: invert(65%) sepia(9%) saturate(6603%) hue-rotate(1deg) brightness(104%) contrast(102%);
}
.profile #profile-issue-list .profile-issue-li .downvote {
  filter: invert(57%) sepia(38%) saturate(1421%) hue-rotate(192deg) brightness(97%) contrast(91%);
}
.profile form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border: 1px solid;
  background-color: #c9e3f0;
  padding: 16px;
  border-radius: 5px;
}
.profile form input, .profile form button {
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px;
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.auth-container h1 {
  font-size: 2em;
  margin: 24px;
}
.auth-container p {
  margin: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: underline;
}
.auth-container form {
  border: 1px solid;
  padding: 20px;
  width: 18rem;
  border-radius: 5px;
  background-color: #c9e3f0;
  display: flex;
  flex-direction: column;
}
.auth-container form input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}
.auth-container form button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.tooltip {
  position: relative;
  display: flex;
}

.tooltip .tooltiptext {
  font-size: 0.8rem;
  visibility: hidden;
  color: #a6a6a6;
  width: auto;
  background-color: rgb(71, 71, 71);
  text-align: center;
  border-radius: 6px;
  margin: 20px;
  padding: 0.2rem 0.3rem;
  position: absolute;
  z-index: 60;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}/*# sourceMappingURL=styles.css.map */